<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Input Type Submit</title>
</head>
<body>


<form action="/" method="POST">
        <input type="text" name="address" placeholder="Address" autofocus >
        <input type="submit" name="submit-btn" value=" Check">
</form>

<main>
    <p><strong>Bitcoin Address  Overview Results</strong> </p>
            <p>Balance::::<strong>{{.Balance}}</strong></p>
            <p>TotalReceived::::<strong>{{.TotalReceived}}</strong></p>
            <p>TotalSent::::<strong>{{.TotalSent}}</strong></p>
            <p>Address::::<strong>{{.Address}}</strong></p>
           
</main>
</body>
</html>