<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Type Submit</title>
</head>
<body>


<form action="/" method="POST">
        <input type="text" name="address" placeholder="first name" autofocus autocomplete="off">
        <input type="submit" name="submit-btn" value="onda button">
</form>

{{if .}}
<main>
    <p><strong>variable names</strong> (identifiers) and <em>values</em>:</p>
            <p>Balance::::<strong>{{.Balance}}</strong></p>
            <p>TotalReceived::::<strong>{{.TotalReceived}}</strong></p>
            <p>TotalSent::::<strong>{{.TotalSent}}</strong></p>
            <p>Address::::<strong>{{.Address}}</strong></p>
           

</main>
</body>
</html>